.blog {
  margin-bottom: 160px;
  &-heading {
    text-align: center;
    margin-bottom: 135px;
  }
  &-main {
    display: flex;
    align-items: flex-end;
    gap: 0 160px;
  }
  &-left {
    width: 100%;
    max-width: 760px;
  }
  &-image {
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 60px;
    &:after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.25);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-size: 40px;
    width: 130px;
    height: 130px;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  &-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
    color: $text-color;
  }
  &-desc {
    margin-bottom: 60px;
  }
  &-author {
    color: inherit;
    font-weight: 600;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    gap: 0 80px;
    &-image {
      width: 135px;
      height: 135px;
      border-radius: 20px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-title {
      font-size: 24px;
      font-weight: 600;
      color: black;
      margin-bottom: 30px;
      line-height: 1.5;
    }
    &-author {
      color: $text-color;
      text-decoration: none;
      list-style: none;
      font-weight: 300;
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 1599px) {
  .blog {
    margin-bottom: 120px;
    &-heading {
      margin-bottom: 100px;
    }
    &-left {
      max-width: 570px;
    }
    &-main {
      gap: 0 120px;
      align-items: stretch;
    }
    &-item {
      margin-bottom: 40px;
      gap: 0 40px;
      &-title {
        margin-bottom: 25px;
        max-width: 320px;
      }
      &-image {
        width: 100px;
        height: 100px;
        border-radius: 14px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &-desc {
      margin-bottom: 30px;
    }
  }
}
@media screen and (max-width: 1279px) {
  .blog {
    margin-bottom: 85px;
    &-heading {
      margin-bottom: 75px;
    }
    &-left {
      max-width: 420px;
    }
    &-main {
      gap: 0 50px;
    }
    &-image {
      height: 350px;
      margin-bottom: 40px;
    }
    &-title {
      line-height: 1.5;
      margin-bottom: 25px;
    }
    &-desc {
      margin-bottom: 20px;
    }
    &-item {
      &-title {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  .blog {
    margin-bottom: 60px;
    &-main {
      gap: 0 30px;
    }
    &-left {
      max-width: 300px;
    }
    &-image {
      height: 300px;
      margin-bottom: 30px;
    }
    &-title {
      font-size: 26px;
      line-height: 1.4;
      margin-bottom: 20px;
    }
    &-desc {
      margin-bottom: 15px;
    }
    &-item {
      gap: 0 10px;
      margin-bottom: 20px;
      &-image {
        width: 60px;
        height: 60px;
        border-radius: 12px;
      }
      &-content {
        font-size: 12px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .blog {
    &-heading {
      margin-bottom: 50px;
    }
    &-main {
      display: flex;
      flex-direction: column;
    }
    &-left {
      max-width: none;
      margin-bottom: 30px;
      text-align: center;
    }
    &-item {
      gap: 0 8px;
      &-image {
        width: 75px;
        height: 75px;
        border-radius: 12px;
      }
    }
  }
}
