.footer {
  margin-bottom: 150px;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 115px;
  }
  &-heading {
    max-width: 620px;
    line-height: 1.5;
  }
  &-bottom {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0 100px;
  }
  &-right {
    display: flex;
    justify-content: space-between;
    gap: 0 100px;
  }
  &-desc {
    max-width: 350px;
    color: $text-color;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 50px;
  }
  &-icons {
    color: inherit;
    font-size: 30px;
    display: flex;
    gap: 0 40px;
  }
  &-icon:hover {
    transition: all 0.1s linear;
    color: $primary;
  }
  &-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  &-link {
    display: block;
    margin-bottom: 40px;
    color: inherit;
    transition: all 0.1s linear;
    line-height: 1.6;
    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }
}
@media screen and (max-width: 1279px) {
  .footer {
    &-header {
      margin-bottom: 75px;
    }
    &-heading {
      max-width: 500px;
    }
    &-bottom {
      grid-gap: 0 50px;
    }
    &-title {
      margin-bottom: 30px;
    }
    &-link {
      margin-bottom: 25px;
    }
    &-icons {
      gap: 0 30px;
    }
  }
}
@media screen and (max-width: 1023px) {
  .footer {
    &-header {
      margin-bottom: 50px;
    }
    &-heading {
      max-width: 390px;
    }
    &-bottom {
      grid-gap: 0 40px;
    }
    &-icons {
      gap: 0 20px;
    }
    &-title {
      margin-bottom: 25px;
    }
    &-link {
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width: 767px) {
  .footer {
    &-heading {
      font-size: 26px;
    }
    &-header {
      margin-bottom: 30px;
    }
    &-bottom {
      display: flex;
      flex-direction: column;
    }
    &-desc {
      text-align: center;
      margin-bottom: 20px;
    }
    &-right {
      gap: 0 35px;
      margin-top: 40px;
    }
    &-icons {
      gap: 0 50px;
    }
  }
}
@media screen and (max-width: 413px) {
  .footer {
    &-right {
      gap: 0 30px;
    }
  }
}
